
html {
    scroll-behavior: smooth;
    scrollbar-color: maroon goldenrod;
    scrollbar-width: thin;
}
.navbar-brand {
    margin-left: 30px;
}
#top-header{
    background-color: maroon;
    color: olivedrab;
    font-size: 12px;
    justify-content: center;
    
}
#top-header img {
    margin: 8px;
}
#header-socials {
    background-color: maroon;
    justify-content: center;
    padding: 8px;
}
#header-socials img {
    margin: 0px 10px;
    color: olivedrab;

}
button.navbar-toggler {
    background-color: none;
    color: goldenrod;
    border-color: maroon;
    border: solid 1px maroon;
}

button.navbar-toggler:focus, button.navbar-toggler:active, button.navbar-toggler.collapsed {
    outline: none;
    box-shadow: none;
    color: maroon;
    border-color: maroon;
    border: solid 1px maroon;
    
}
button.navbar-toggler i {
    color: olivedrab;
}
.navbar {
    border: solid 1px maroon;
    border-left: none;
    border-right: none;
    border-bottom-width: 5px;
    position: sticky;
}
.navbar .navbar-nav .nav-item a {
    color: olivedrab;
    font-weight: lighter;
    letter-spacing: normal;
    text-transform: uppercase;
    font-size: small;
    margin: 15px;
}
.navbar .navbar-nav .nav-item a:hover{
    color: maroon;
    text-decoration: underline;
    text-decoration-line: overline;
}
.navbar .navbar-nav .nav-item a.active {
    color: maroon;
    text-decoration: underline;
    text-decoration-line: overline;
}
#brand {
   text-align: center;
   justify-self: center;
   justify-content: center;
   justify-items: center;
    
}
#home {
    background-image: url('../static/background.jpg');
    background-size: cover;
    background-repeat: none;
    padding-bottom: 10%;
    background-position: bottom;
}
.home-content {
    justify-items: center;
    margin-top: 100px;
    text-align: left;
    padding-top: 10px;
    font-family: "Playwrite Italia Moderna", cursive;
    
}
.text-show {
    color: black;
    opacity: 1;
    transition: all 1s ease;
}
  
.text-fade {
    color: black;
    opacity: 0;
    transition: all 1s ease;
}
.home-content img {
    color: maroon;
    width: auto;
    height: 150px;
    padding-top: 30px;
    
    
    
}
.home-content h1 {
    letter-spacing: 1.5px;
    font-size: 56px;
    color: mintcream;
    margin-top: 20px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: "Playwrite Italia Moderna", cursive;
}
.home-content p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: mintcream;
    font-family: "Playwrite Italia Moderna", cursive;
}
.mybtn {
    animation: 2s infinite alternate slide-in;
}

#about {
    background-color: whitesmoke;
    padding-top: 100px;
}
#aboutimage {
    text-align: center;
    padding: 50px 150px 50px 150px;
    margin: 50px 30px 30px 30px;
    border-radius: 10px;
    letter-spacing: normal;
    color: goldenrod;
    background-image: url('../static/precast_box_culverts.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);

}

#aboutimage h1 {
    font-size: 66px;
    font-weight: 700;
    padding-top: 100px;

}
#aboutimage p {
    font-size: 14px;
    font-weight: 500;
}
#abouttext {
    padding: 50px;
    justify-content: flex-start;
    font-weight: 200;
    letter-spacing: 0.04rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#aboutcards {
    padding: 50px;
    font-weight: 400;
    font-size: smaller;
    letter-spacing: 0.04rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: snow;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: olivedrab;
}
#aboutcards h6 {
    color: maroon;
    text-transform: uppercase;
    text-decoration: overline;
}
.mission {
    border-right: solid 1px maroon;
    
}
#aboutbtn ul {
    text-align: center;
    justify-content: center;
    justify-items: center;
    
    padding: 25px;
    

}
#aboutbtn ul li a {
    display: inline;
    padding: 5px;
    color: olivedrab;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.02rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    border-radius: 25px;
}
#aboutbtn ul li a:hover {
    color: maroon;
    text-decoration: overline wavy;
}
#productsdetail {
    padding: 20px;
    background-color: whitesmoke;
    color: olivedrab;
    font-weight: lighter;
    
}
#productsdescription img{
    margin-top: 15px;
    position: center;
    width: 200px;
    height: 150px;
    border-radius: 5px;
}
#servicedescription {
    margin: 10px 50px;
    box-sizing: border-box;
}
#servicedescription img {
    margin-top: 15px;
    position: center;
    width: 200px;
    height: 150px;
    border-radius: 5px;
}
#productsdescription h6, #servicedescription h5 {
    letter-spacing: normal;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: maroon;
    text-decoration: overline;
}
#productsdescription p, #servicedescription p {
    font-size: smaller;
    color: olivedrab;
    letter-spacing: 0.01rem;
    justify-self: left;
}
#servicedescription #machinehiring {
    margin: 30px;
}
#machinehiring {
    padding-bottom: inherit;
}

.footer {
    background-color: maroon;
    color: olivedrab;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#footerA p {
    margin-top: 20px;
    text-align: left;
}
#footerB li{
    display: inline;
    padding: 10px;
    font-size: 30px;
   
}
#footerB ul {
    margin-top: 20px;
}
#footerC ul {
    margin-top: 20px;
    text-align: left;
}
#footerC li {
    padding: 10px;
    font-weight: 500;
    font-size: 13px;
    
}
.icon-goldenrod {
    fill: goldenrod;
    color: goldenrod;
}
#footerC li img {
    margin-right: 7px;
}
.footer hr {
    background-color: olivedrab;
    width: 90%;
}

.footer h6 {
    color: goldenrod;
    letter-spacing: 0.03rem;
    margin-top: -15px;
}
.footer hr {
    background-color: olivedrab;
    width: 90%;
}

#quicklinks li {
    display: inline-block;
    color: olivedrab;
    padding: 5px;
    letter-spacing: 0.02rem;
    font-size: small;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#quicklinks li a {
    color: olivedrab;
    text-decoration: none;
}
#quicklinks li a:hover {
    color: goldenrod;
    text-decoration: overline;
    
}
#sponsors li img{
    display: inline-block;
    padding: 10px;
    
}
#productsdescription .col-md, #productsdescription .col-md-4 {
    margin: 5px;
    border-radius: 10px !important;
    background-color: snow;
}

#products, #services, #gallery, #contact {
    background-color: whitesmoke;
    padding-top: 50px;
    text-align: center;
    
    
}
#products h1, #services h1, #gallery h1, #contact h1 {
    letter-spacing: 0.01rem;
    text-transform: uppercase;
    color: maroon;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    background-color: goldenrod;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#services h2 {
    font-size: 46px;
    font-weight: 500;
    color: maroon;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25%;
}
#services h6 {
    margin: 7px;
    font-size: 14px;
    color: maroon;
    text-transform: uppercase;
}
#machinehiring li a {
    color: maroon;
    text-decoration: dotted;
}

#servicedescription {
    padding: 10px;
}
.content {
    font-size: 14px;
    font-weight: 500;
    color: maroon;
    letter-spacing: 0.02rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
   
}
#content {
    display: none;
    

    
}
#contact h4 {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left !important;
    padding: 100px 30px 20px ;
    color: maroon;
    
}
#contact p {
    text-align: left;
    padding: 5px 20px;
    font-size: small;
    letter-spacing: 0.019rem;
    color: olivedrab;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#contact h5 {
    padding: 20px 30px 0px;
    color: olivedrab;
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#contact form {
    padding: 10px 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid 1px none;
    border-radius: 15px;
    background-color: snow;
    margin: 50px 2px 30px;
}
#contact form label {
    display: none;
}
#contact form input {
    text-transform: capitalize;
    color: maroon;
    letter-spacing: 0.019rem;
}
#contact ul {
    padding: 100px 30px;
    justify-items: left !important;
}
#contact li {
    margin: 20px;
    color: olivedrab;
    font-weight: 100;
    letter-spacing: 0.017rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#contact .map-div iframe {
    border-radius: 15px;
    margin-bottom: 30px;
}

@media screen and (max-width: 780px) {
    #x {
        display: none;
    }
    #contact .map-div iframe {
        border-radius: 15px;
        height: 300px;
        width: auto;
    }
    #contact ul {
        padding: 30px 15px;
    }
    #contact li {
        margin: 10px;
        color: olivedrab;
        font-weight: lighter !important;
        letter-spacing: 0.015rem;
        font-size: smaller;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    #contact h4 {
        font-size: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: left !important;
        padding: 50px 15px 10px ;
        
    }
    #contact h5 {
        font-size: 22px;
    }
    #contact p {
        text-align: left;
        padding: 5px 10px;
        font-size: 12px;
        letter-spacing: 0.019rem;
    }
    #contact form {
        max-height: fit-content;
        margin: 30px 20px;
    }
    input[type=text], select, textarea {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 3px;
        margin-bottom: 7px;
        resize: vertical;
        text-align: left !important;
        font-size: small;
      }
      ::placeholder {
          color: olivedrab;
          font-size: small;
      }
      input[type=submit] {
        background-color: goldenrod;
        text-transform: uppercase;
        color: white;
        padding: 6px 10px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
    .navbar {
        position: fixed;
        height: max-content;
    }
    .navbar .navbar-brand {
        font-size: 12px !important;
        padding: 0;
    }
    .navbar .navbar-brand small {
        font-size: 12px !important;
    }
    
    #top-header {
        background-color: snow;
        color: olivedrab;
        font-size: 12px;
    }

    #top-header i {
        margin: 5px;
    }
    #header-socials {
        display: none;
        position: absolute;
        
    }
    .home-content {
        padding: 10px;
        justify-items: center;
        text-align: center;
        margin-top: 15px;
        
        
    }

    .home-content img {
        font-weight: bolder;
        margin-top: 10px !important;
        padding-bottom: 10px;
        color: mintcream;
    }

    .home-content h1 {
        font-size: 52px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 10px;
        color: mintcream !important;
        font-weight: 700 !important;
    }
    .home-content p {
        font-size: 14px;
        font-weight: 700;
        margin-top: 15px;
        margin-bottom: 10px;
        color: mintcream !important;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    #home {
        background-position: right;
        padding-top: 10px;
        padding-bottom: 100px;
    }
    #aboutcards {
        padding: 20px;
        font-size: x-small;
       margin: 10px 30px;
    }
    #aboutcards h6 {
        font-size: small;
    }
    #about {
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }  
    #aboutimage {
        padding: 30px;
        margin: 50px 20px 0px 20px;

    }
    #aboutimage h1 {
        padding-top: 30px;
        font-size: 40px;
    }
    #abouttext {
        font-size: 12px;
    }
    #abouttext small {
        font-size: 11px !important;
    }
    .mission {
        border-right: none;
        font-size: 12px;
        
    }
    .vission h6, .mission h6{
        margin-top: 20px;
        text-decoration: overline;
        
    }
    .vission {
        font-size: 12px;
        margin-bottom: 30px;
        
    }
   
    #productsdescription .col-md, #productsdescription .col-md-4 {
        margin: 5px;
        padding: 5px;
        width: max-content;
        height: 350px;
        border-radius: 10px !important;
        background-color: snow;
    }
    #services p, #products p {
        font-size: small;
    }
    #servicedescription {
        margin: 5px;
        padding: 0;
        width: fit-content;
        height: fit-content;
        
    }
    #servicedescription #machinehiring {
        margin: 5px;
    }
    #servicedescription img, #productsdescription img {
        width: 100px;
        height: 100px;
    }
    #servicedescription h6 , #productsdescription h6 {
        font-size: 12px;
        padding: 0 !important;
        text-decoration: none;
    }
    #productsdescription h6 {
        font-size: 11px;
    }
    #productdescription p {
        justify-self: left;
    }
    #servicedescription p {
        font-size: 11px !important;
    }
    .footer {
        background-color: maroon;
        color: olivedrab;
        padding: 10px;
        text-align: center;
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #footerA p {
        margin-top: 15px;
        text-align: left;
    }
    #footerB li{
        display: inline;
        padding: 7px;
        font-size: 24px;
       
    }
    #footerB ul {
        margin-top: 30px;
    }
    #footerC ul {
        margin-top: 20px;
        text-align: center;
    }
    #footerC li {
        padding: 10px;
    }
    #footerC li i {
        margin-right: 10px;
    }
    
    #quicklinks li a {
        color: olivedrab;
        text-decoration: none;
        font-size: smaller;
    }
    
    
}
