
html {
    scroll-behavior: smooth;
    scrollbar-color: maroon goldenrod;
    scrollbar-width: thin;
}
#top-header{
    background-color: maroon;
    color: olivedrab;
    font-size: 12px;
    justify-content: center;
    
}
#top-header i {
    margin: 8px 10px;
}
#header-socials {
    background-color: maroon;
    justify-content: center;
    padding: 8px;
}
#header-socials i {
    margin: 0px 20px;
    color: olivedrab;

}
button.navbar-toggler {
    background-color: none;
    color: goldenrod;
    border-color: maroon;
    border: solid 1px maroon;
}

button.navbar-toggler:focus, button.navbar-toggler:active, button.navbar-toggler.collapsed {
    outline: none;
    box-shadow: none;
    color: maroon;
    border-color: maroon;
    border: solid 1px maroon;
    
}
button.navbar-toggler i {
    color: olivedrab;
}
.navbar {
    border: solid 1px maroon;
    border-left: none;
    border-right: none;
    border-bottom-width: 5px;
    position: sticky;
}
.navbar .navbar-nav .nav-item a {
    color: olivedrab;
    font-weight: lighter;
    letter-spacing: normal;
    text-transform: uppercase;
    font-size: small;
    margin: 15px;
}
.navbar .navbar-nav .nav-item a:hover{
    color: maroon;
    text-decoration: underline;
    text-decoration-line: overline;
}
.navbar .navbar-nav .nav-item a.active {
    color: maroon;
    text-decoration: underline;
    text-decoration-line: overline;
}
#home {
    background-image: url('../static/background.jpg');
    background-size: cover;
    background-repeat: none;
    padding-bottom: 10%;
    background-position: bottom;
}
.home-content {
    justify-items: center;
    margin-top: 100px;
    text-align: left;
    padding-top: 10px;
    font-family: "Playwrite Italia Moderna", cursive;
    
}
.text-show {
    color: black;
    opacity: 1;
    transition: all 1s ease;
}
  
.text-fade {
    color: black;
    opacity: 0;
    transition: all 1s ease;
}
.home-content i {
    color: maroon;
    font-size: 68px;
    padding-top: 50px;
    
    
    
}
.home-content h1 {
    letter-spacing: 1.5px;
    font-size: 56px;
    color: maroon;
    margin-top: 20px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: "Playwrite Italia Moderna", cursive;
}
.home-content p {
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 15px;
    color: maroon;
    font-family: "Playwrite Italia Moderna", cursive;
}
.mybtn {
    color: maroon;
    text-transform: uppercase;
    background-color: goldenrod;
    padding: 18px;
    letter-spacing: normal;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
.mybtn:hover {
    color: goldenrod;
    background-color: maroon;
    text-decoration: none;
}
.mybtn:hover i {
    color: goldenrod;
}
.mybtn i.fa-angles-down {
    display: inline;
    font-size: 20px;
}
.mybtn i.fa-square-caret-right {
    display: none;
}

#about {
    background-color: whitesmoke;
    padding-top: 100px;
}
#aboutimage {
    text-align: center;
    padding: 50px 150px 50px 150px;
    margin: 50px 30px 30px 30px;
    border-radius: 10px;
    letter-spacing: normal;
    color: goldenrod;
    background-image: url('../static/precast_box_culverts.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);

}

#aboutimage h1 {
    font-size: 66px;
    font-weight: 700;
    padding-top: 100px;

}
#aboutimage p {
    font-size: 14px;
    font-weight: 500;
}
#abouttext {
    padding: 50px;
    justify-content: flex-start;
    font-weight: 200;
    letter-spacing: 0.04rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#aboutcards {
    padding: 50px;
    font-weight: 400;
    font-size: smaller;
    letter-spacing: 0.04rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgrey;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: olivedrab;
}
#aboutcards h6 {
    color: maroon;
    text-transform: uppercase;
    text-decoration: overline;
}
.mission {
    border-right: solid 1px maroon;
    
}
.footer {
    background-color: maroon;
    color: olivedrab;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#footerA p {
    margin-top: 30px;
    text-align: left;
}
#footerB li{
    display: inline;
    padding: 10px;
    font-size: 30px;
   
}
#footerB ul {
    margin-top: 50px;
}
#footerC ul {
    margin-top: 30px;
    text-align: left;
}
#footerC li {
    padding: 10px;
}
#footerC li i {
    margin-right: 10px;
}
.footer hr {
    background-color: olivedrab;
    width: 90%;
}

.footer h6 {
    color: goldenrod;
    letter-spacing: 0.03rem;
    margin-top: -15px;
}
.footer hr {
    background-color: olivedrab;
    width: 90%;
}

#quicklinks li {
    display: inline-block;
    color: olivedrab;
    padding: 5px;
    letter-spacing: 0.02rem;
    font-size: small;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#quicklinks li a {
    color: olivedrab;
    text-decoration: none;
}
#quicklinks li a:hover {
    color: goldenrod;
    text-decoration: overline;
    
}




@media screen and (max-width: 780px) {
    #x {
        display: none;
    }
    
    .navbar {
        position: fixed;
    }
    
    #top-header {
        background-color: maroon;
        color: olivedrab;
        font-size: 12px;
    }

    #top-header i {
        margin: 5px;
    }
    #header-socials {
        display: none;
        
    }
    .home-content {
        padding: 10px;
        justify-items: center;
        text-align: center;
        
    }

    .home-content i {
        font-size: 80px;
        font-weight: bolder;
        padding-top: 30px;
        padding-bottom: 10px;
        color: maroon;
    }

    .home-content h1 {
        font-size: 52px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 10px;
    }
    .home-content p {
        font-size: 14px;
        font-weight: 700;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #home {
        background-position: right;
        padding-top: 10px;
        padding-bottom: 100px;
    }
    .mybtn {
        color: maroon;
        font-size: 15px;
        padding: 15px;
        margin-top: 30px;
    }
    .mybtn i {
        font-size: 30px;
    }
    .mybtn i.fa-angles-down {
        display: none;
    }
    .mybtn i.fa-square-caret-right {
        display: inline;
        font-size: 20px;
    }
    .mybtn:hover {
        color: goldenrod;
    }
    .mybtn:hover i {
        color: goldenrod;
    }
    #aboutcards {
        padding: 20px;
        font-size: x-small;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    #aboutcards h6 {
        font-size: small;
    }
    #about {
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }  
    #aboutimage {
        padding: 30px;
        margin: 100px 20px 0px 20px;

    }
    #aboutimage h1 {
        padding-top: 30px;
        font-size: 40px;
    }
    #abouttext {
        font-size: small;
    }
    .mission {
        border-right: none;
        font-size: 12px;
    }
    .vission h6, .mission h6{
        margin-top: 20px;
        text-decoration: overline;
        
    }
    .vission {
        font-size: 12px;
        margin-bottom: 30px;
        
    }
    .footer {
        background-color: maroon;
        color: olivedrab;
        padding: 10px;
        text-align: center;
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #footerA p {
        margin-top: 15px;
        text-align: left;
    }
    #footerB li{
        display: inline;
        padding: 7px;
        font-size: 24px;
       
    }
    #footerB ul {
        margin-top: 30px;
    }
    #footerC ul {
        margin-top: 20px;
        text-align: center;
    }
    #footerC li {
        padding: 10px;
    }
    #footerC li i {
        margin-right: 10px;
    }
    
    #quicklinks li a {
        color: olivedrab;
        text-decoration: none;
        font-size: smaller;
    }
    
    
}
