
html {
    scroll-behavior: smooth;
    scrollbar-color: maroon goldenrod;
    scrollbar-width: thin;
}
#top-header{
    background-color: maroon;
    color: olivedrab;
    font-size: 12px;
    justify-content: center;
    
}
#top-header i {
    margin: 5px 10px;
}
#header-socials {
    background-color: maroon;
    justify-content: center;
}
#header-socials i {
    margin: 0px 20px;
    color: olivedrab;

}
.navbar {
    border: solid 1px maroon;
    border-top-width: 3px;
    border-left: none;
    border-right: none;
    border-bottom-width: 5px;
    position: sticky;
}
.navbar .navbar-nav .nav-item a {
    color: olivedrab;
    font-weight: lighter;
    letter-spacing: normal;
    text-transform: uppercase;
    font-size: small;
    margin: 15px;
}
.navbar .navbar-nav .nav-item a:hover{
    color: maroon;
    text-decoration: underline;
    text-decoration-line: overline;
}
.navbar .navbar-nav .nav-item a.active {
    color: maroon;
    text-decoration: underline;
    text-decoration-line: overline;
}
#home {
    background-image: url('../static/background.jpg');
    background-size: cover;
    background-repeat: none;
    padding-bottom: 10%;
    background-position: bottom;
}
.home-content {
    justify-items: center;
    text-align: left;
    padding-top: 150px;
    font-family: "Playwrite Italia Moderna", cursive;
    
}

.home-content i {
    color: maroon;
    font-size: 68px;
    
    
    
}
.home-content h1 {
    letter-spacing: 1.5px;
    font-size: 56px;
    color: maroon;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "Playwrite Italia Moderna", cursive;
}
.home-content p {
    font-size: 20px;
    margin-top: 20px;
    padding-bottom: 15px;
    color: maroon;
    font-family: "Playwrite Italia Moderna", cursive;
}
.mybtn {
    color: maroon;
    text-transform: uppercase;
    background-color: goldenrod;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 3px;
    margin-left: 15px;
    letter-spacing: normal;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
.mybtn:hover {
    color: goldenrod;
    background-color: maroon;
    text-decoration: none;
}
.mybtn:hover i {
    color: goldenrod;
}
#about {
    background-color: whitesmoke;
    padding-top: 80px;
}
#aboutimage {
    text-align: center;
    padding: 50px 150px 50px 150px;
    margin: 50px 30px 30px 30px;
    border-radius: 10px;
    letter-spacing: normal;
    color: goldenrod;
    background-image: url('../static/precast_box_culverts.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);

}

#aboutimage h1 {
    font-size: 66px;
    font-weight: 700;
    padding-top: 100px;

}
#aboutimage p {
    font-size: 14px;
    font-weight: 500;
}
#abouttext {
    padding: 50px;
    justify-content: flex-start;
    font-weight: 200;
    letter-spacing: 0.06rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#aboutcards {
    padding: 50px;
    font-weight: 50;
    letter-spacing: 0.06rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: mintcream;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: olivedrab;
}
#aboutcards h6 {
    color: maroon;
    text-transform: uppercase;
    text-decoration: underline;
}
.mission {
    border-right: solid 1px maroon;
    
}


@media screen and (max-width: 800px) {
    .navbar {
        position: sticky;
    }
    #top-header {
        background-color: maroon;
        color: olivedrab;
        font-size: 12px;
    }
   
    #top-header i {
        margin: 2px;
    }
    .home-content {
        padding: 35px;
        margin-top: 40px;
        justify-items: center;
        text-align: center;
        
    }

    .home-content i {
        font-size: 80px;
        font-weight: bolder;
        padding-bottom: 25px;
        color: maroon;
    }

    .home-content h1 {
        font-size: 52px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .home-content p {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #home {
        background-position: right;
    }
    .mybtn {
        color: maroon;
        font-size: 15px;
        font-weight: medium;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 30px;
    }
    .mybtn:hover {
        color: goldenrod;
    }
    .mybtn:hover i {
        color: goldenrod;
    }
    #aboutimage {
        padding: 30px;
        margin-right: 20px;

    }
    #abouttext {
        font-size: small;
    }
    .mission {
        border-right: none;
        font-size: 12px;
    }
    .vission h6, .mission h6{
        margin-top: 20px;
        text-decoration: overline;
        
    }
    .vission {
        font-size: 12px;
        margin-bottom: 30px;
        border-bottom: solid 4px maroon;
    }
    
}
